$primary-color: #478f7c; // #478f7c;
$secondary-color: #AB377A; // Ifx Berry
$info-color: #FFE054; //Ifx Sand
$success-color: #aec067; // Ifx Lawn Green
$warn-color: #F07F3C; // Ifx Sun
$error-color: #e30034;
$grays-color: #928285; //Ifx Engineering
$surface-color: #9BC3B7; // Ifx Ocean

$primary-dark-color: #478f7c;
$secondary-dark-color: #812161; // Ifx Berry
$info-dark-color: #F5C631; //Ifx Sand
$success-dark-color: #769F3B; // Ifx Lawn Green
$warn-dark-color: #E36319; // Ifx Sun
$error-dark-color: #e30034;
$grays-dark-color: #644F54; //Ifx Engineering
$surface-dark-color: #5EA290; // Ifx Ocean



$ifx-blue: #478f7c;
$ifx-red: #E30034;
$ifx-orange: #F07F3C;
$ifx-yellow: #ef6f25;
$ifx-green: #AEC067;
$ifx-white: #fff;
$ifx-gray-dark: #343a40;
