<div igxOverlayOutlet #outlet class="grid-options" 
    igxLayout igxLayoutDir="column" igxLayoutWrap="nowrap">

    <header igxFlex igxFlexGrow="0"
        style="display: grid; grid-template-columns: auto 2fr 1fr  2fr 1fr  2fr 1fr auto 1fr; grid-gap: 5px 5px; height: 30px;">

        <div logo> </div>
        <igx-slider slider id="sliderCol" [minValue]="5" [maxValue]="30" [step]="1" [continuous]="true" 
        [(ngModel)]="colCount"
        
        >
        </igx-slider>
        <div label>
                Cols: {{colCount}}
            <label igxLabel for="sliderCol" hidden>Cols: {{colCount}}</label>
        </div>
        <igx-slider slider id="sliderRow" [minValue]="5" [maxValue]="3000" [step]="5" [continuous]="true"
        
            [(ngModel)]="rowCount"></igx-slider>
        <div label>
                Rows: {{rowCount}}
            <label igxLabel for="sliderRow" hidden>Rows: {{rowCount}} </label>
        </div>
        <div></div>
        <div style="display: flex ;align-items: flex-end; height: 28px; padding: 0; align-content: flex-end;">
            <button igxButton="raised" (click)="reload()" title="Reload"
            [disabled]="!countsAreDirty()"
            >
                <igx-icon fontSet="material">update</igx-icon>
            </button>
        
            <button class="toggle-button" igxButton="raised" (click)="toggleDarkTheme()" title="Toggle theme">
                <igx-icon fontSet="material">invert_colors</igx-icon>
            </button>

        </div>
    </header>

    <big-grid #bigData igxFlex igxFlexGrow="0" 
        [colCount]="colCountActive" 
        [rowCount]="rowCountActive" 
        [dataInjectInterval]="liveUpdateIntervalActive" 
        style="height: 100%;"
        *ngIf="displayGrid"
    >
    </big-grid>
</div>