<div class="wrapper">
	<header class="header" hidden>BIG GRID
	</header>
	<igx-grid #grid1 
	[autoGenerate]="true" 
	[data]="hugeData | async" 
	[paging]="false" 
	[perPage]="20" 
	[displayDensity]="'compact'"
	[height]="'calc(100% - 4px)'" 
	[width]="'calc(100% - 4px)'" 
	[showToolbar]="true"
	[columnHiding]="true"
	[columnPinning]="true"
	[exportExcel]="true"
    [exportCsv]="true"
    exportText="Export"
    exportExcelText="Export to Excel"
	exportCsvText="Export to CSV"
	[evenRowCSS]="'grid-row-even'"
	[oddRowCSS]="'grid-row-odd'"
	[toolbarTitle]="'BIG DATA'"
	[hideGroupedColumns]="false"
	[isLoading]="isLoading"
	
>
	<ng-template igxToolbarCustomContent let-grid="grid" >
		<span style="font-size: 0.8em; padding: 0 10px; overflow: hidden;">
			<span style="padding: 0 10px; overflow: hidden;">
					r: {{ rowCount }}
					c: {{ colCount }}			
			</span>
			Data fetched: {{ lastDataFetchTime? dateFormat(lastDataFetchTime, 'en-us', 'HH:mm:ss'): '?'  }}
		</span>
		<span>
				<igx-switch [checked]="liveUpdateEnabled" (change)="toggleLiveUpdate()" [labelPosition]="'before'" style="padding-right: 10px" >
						Live update
				</igx-switch>
				<igx-switch [disabled]="!liveUpdateEnabled" [checked]="liveSort" (change)="toggleLiveSort()" [labelPosition]="'before'" style="padding-right: 10px" >
						Live sort
				</igx-switch>
				
			</span>
	    <button igxButton="raised" igxRipple (click)="toggleLiveUpdate()" [disabled]="isLoading" [hidden]="true">
				<igx-icon fontSet="material">charging</igx-icon>
				LiveUpdate
			</button>

	    <button igxButton="raised" igxRipple (click)="grid.clearSort()" [disabled]="isLoading || grid1.sortingExpressions?.length === 0" title="Clear sortings">
				<igx-icon fontSet="material">sort</igx-icon>
			</button>
			<button igxButton="raised" igxRipple (click)="reloadData()" [disabled]="isLoading || liveUpdateEnabled" title="Reload with new data">
					<igx-icon fontSet="material">refresh</igx-icon>
				</button>
			<button class="toggle-button" igxButton="raised" (click)="toggleDarkTheme()" title="Toggle theme">
				<igx-icon fontSet="material">invert_colors</igx-icon>
			</button>
	
</ng-template>
</igx-grid>
</div>
